* {
    margin: auto;
}
body {
    margin: auto;
    padding: 0;
    background-image: url("/index-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: skyblue;
    color: black;
    font-family: 'Trebuchet MS', Arial;
    font-size: 15px;
    text-align: center;
}


/* This container contains a description and instructions for the game */
#instructions-container{
    display: flex;
    background-color: rgb(37, 115, 211);
    padding: 10px;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 50vh;
    width: 50%;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    text-align: center;
    border-style: solid;
    border-width: thick;
}

#instructions-item{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 20px;
    color: black;
    height: 70%;
    background: lightblue;
    border-style: solid;
    border-width: thick;
}

/* =========== Place Holder -- I had an issue centering my instruction container so i created a clear div--- */
#place-holder{
    display: flex;
    background-color: clear;
    padding: 10px;
    flex-wrap: wrap;
    height: 20vh;
    width: 50%;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    text-align: center; 
}

#place-holder-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:;
    padding: 10px;
    font-size: 20px;
    color: black;
}



/* START button */
#start-btn{
    width: 100px;
    height: 100px;
    font-size: 50%;
}
